.people-card {
    width: 65%;
    margin-bottom: 8%;
    padding: 10%;
    border-radius: 34px;
    padding: 3%;
    background-color: #fff;
    border: 1px solid #000;
}

.modal-details-body {
    padding: 0% 10%;
}

.base-info-block-text {
    font-size: 24px;
    margin-left: 10%;
}

.people-card-about {
    margin-top: 5%;
    font-size: 20px;
}

.interest {
    margin-top: 2%;
    background-color: #3f7dfc;
    border: 1px solid #000;
    color: white;
    border-radius: 40px;
    padding: 1.5%;
    margin-right: 3%;

}